*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: Movie;
    src: url("Movie\ Filmstrip.ttf");
}
header{
    width:100%;
    height: 100px;
    background: #00E853;
    font-size: 75px;
    text-align: right;
    overflow: hidden;
    font-family: Movie;
}
.logo{
    background: url(movie2.png);
    z-index: 1;
    width: 60px;
    height: 100px;
    left:0px;
    top:0px;
    position: absolute;
    overflow: hidden;
    background-color: #00E853;
    object-fit: cover;
}
article{
    background: #00DFE8;
    height: 70vh;
    font-size: large;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    padding-top:1vh;
    justify-content: center;
    width: 100%;
    padding: 15px;
    font-size: large;
}
.article1{
    background: #00DFE8;
    height: 25vh;
    font-size: large;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    padding-top:1vh;
    justify-content: center;
    width: 100%;
    padding: 15px;
    font-size: large;
}
aside{
    background: #00E8A2;
    width: 100%;
    height: 60vh;
    padding: 15px;
    font-size: large;
    display: flex;
}
.aside1{
    background: #00E8A2;
    width: 100%;
    height: 25vh;
    padding: 15px;
    font-size: large;
    display: flex;
}
.img1{
    flex-direction: row;
    width: 16.4%;
    margin: 15px;
    height: 50vh;
    left: 25px;
}
.flip-card {
  background-color: transparent;
  width: 275px;
  height: 65vh;
  perspective: 1000px;
  border-radius: 15px;
  margin: 5px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
img{
    width: 275px;
    height: 65vh;
    border-radius: 15px;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.flip-card-back {
  background-color:#004EE8;
  color: white;
  transform: rotateY(180deg);
  width: 275px;
  height: 65vh;
  border-radius: 15px;
}
li{
  overflow: hidden;
  text-align: left;
  margin-bottom: 10px;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: small;
  margin: 10px;
}
p{
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-weight: bold;
  font-size: small;
  margin: 10px;
}
h1{
  width: 100%;
  height:25px;
  font-size: medium;
  text-align: center;
  z-index:1;
  background: #00E8A2;
  font-family: Movie;
  position: absolute;
  border-radius: 10px 10px 0 0;
}
a{
  text-decoration: none;
  color: #00DFE8;
  text-align: center;
  font-size: x-large;
  background-color: #004EE8;
}
nav{
  width: 200px;
  height: 100%;
  margin: -5px;
  background-color: #004EE8;
}
.ul{
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #004EE8;
}
.li1{
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  top: 15px;
  font-size: large;
  padding-top: 25px;
  background-color: #004EE8;
}
.li3{
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  top: 15px;
  color: #00DFE8;
  font-size: large;
  padding-top: 25px;
  background-color: #004EE8;
}
.li2{
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  top: 15px;
  padding-top: 25px;
  font-size: large;
  background-color: #004EE8;
}
footer{
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: large;
  font-weight: 800;
  font-family: Movie;
  background: #00E853;
}
@media screen and (max-width: 1000px){
    .img1{
        flex-direction: column;
        flex-wrap: wrap;
        height: 35vh;
        width: 100%;
        margin: 20px;
    }
    .li1{
        padding-top: 250px;
    }
    .li2{
        padding-top: 350px;
    }
    aside{
        height: 210vh;
        width: 100%;
    }
    header{
        font-size: large;
        padding-top: 40px;
        text-align: center;
    }
    article{
        height: 375vh;
        flex-direction: column;
        align-items: center;
    }
    .flip-card{
        flex-basis: 1 0 flex;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1400px)
{
    article{
        height: 150vh;
        gap: 5px;
        padding-bottom: 10px;
    }
    .flip-card{
      gap:5px;
    }
    header{
      font-size: x-large;
      text-align: center;
    }
}